@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: Pixelify Sans, sans-serif;
    background-color: black;
    color: white;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: greenyellow;
}

.short-description {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: black;
    border: 4px solid greenyellow;
    border-radius: 10px;
    font-weight: bold;
    padding: 16px;
}

nav ul li {
    display: inline;
    border-right: 2px solid greenyellow;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

nav li a:hover {
    color: rgb(28, 198, 34);
}

img {
    width: 100px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
}

.project-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  text-align: center;
  margin: 10px;
  
}

.button {
    font-family: Pixelify Sans, sans-serif;
}
